$green: #1a594a;


@mixin border-radius($r){
  -moz-border-radius:$r;
  -webkit-border-radius:$r;
  -ms-border-radius:$r;
  border-radius:$r;
}
@mixin display-flex{
  display:flex;
  align-items:center;
}


body{
margin:0 auto;
width:100%;
height:100vh;
background-color:$green;
font-family:"Do Hyeon",monospace;
overflow:hidden;
}

main{
  width:100%;
  height:100%;
  @include display-flex;
}

aside{
  z-index:2;
  flex:25;
  width:25%;
  height:100%;
  background-color:#222222;
  transition:width 0.5s;
  position:static;
  @include display-flex;
  flex-direction:column;

  .title{
    flex:5;
    width:80%;
    text-align:center;
    color:white;
    font-size:2.6em;
    padding-top:1em;
    letter-spacing:0.3em;
    border-bottom:0.3em solid black;

  }
  #fruits{
    color:white;
    font-size:2.3em;
    padding:0;
    letter-spacing:0.25em;
    transition:all 0.3s;
    transform:scale(1);
  }
}

  menu{
    flex:95;
    width:90%;

  //  box-shadow:5px 1px 60px 6px $green;
    background:radial-gradient(circle,#222222,#888888,#BBBBBB);
    @include display-flex;
    padding:0;
    flex-direction:column;
     .baner{
      height:20%;
      width:100%;
      opacity:0.7;
      background-color:black;
      border-bottom:0.1em solid blue;
      &:first-child{
      border-top:0.1em solid blue;
      }

      header{
       color:white;
       text-align:center;
       font-size:2.3em;
       padding-top:0.25em;
       border-bottom:0.1em solid #330033;
       height:27%;
      }
      .upgrade{
        height:73%;
        color:white;
        text-align:center;
        @include display-flex;

        button{
          border:none;
          outline:none;
          font-size:3em;
          font-family:"Do Hyeon",monospace;
          height:85%;
          width:55%;
          margin-bottom:2%;
          padding-top:1%;
          background-color:#000008;
          color:white;
          transition:all 0.3s,background-color 1s;
          &:hover{
            background-color:#000030;
            transform:scale(1.1);
            cursor:pointer;
            width:65%;
          }
          p{
            font-size:0.7em;
            margin-top:0;
            word-spacing:0;
          }
        }
        p{
          font-size:2.2em;
          word-spacing:5em;
          letter-spacing:0.3em;
          transform:scale(1);
          transition:all 0.25s;
        }
      div{
       text-align:center;
        p{
          margin:0;
          padding-top:-2em;
          padding-bottom:0.2em;
       text-align:center;
       width:100%;
        }
        width:50%;
         margin:0;
         padding:0;
        button{
          z-index:5;
          margin:0;
          padding:0;
          margin-right:0.7em;
          margin-left:0.4em;
          background-color:#111100;
           width:25%;
           font-family:'Skranji';
           transform:scale(1);
           &:hover{
             transform:scale(1.8,1.4);
             overflow:hidden;
             width:30%;
             background-color:#111100;
           }
          }
          transform:scale(1);
          transition:all 0.5s;
        }

       #sum{
         margin-top:-3%;
         width:65%;
         p{
         font-size:130%;
         letter-spacing:0 !important;
         word-spacing:0 !important;
         padding-bottom:0;
         padding-top:-2%;
       }
     }
     #frt{
       overflow:hidden;
       display:relative;
       @include display-flex;
       height:100%;
       width:35%;
       margin:0;
       padding:0;
       p{
         font-size:130%;
       }
       button{
         width:100%;
         margin:0;
         height:100%;
         &:hover{
           transform:scale(1.1) !important;
           background-color:#303090 !important;
         }
       }
     }



      }
    }


   &:hover{
     cursor:pointer;
   }
}

section{
  z-index:1;
  flex:75;
  height:100%;
  margin:0;
  padding:0;
  background-color:$green;
  @include display-flex;
  justify-content:center;
  flex-direction:column;
  #audio{
    overflow:hidden;
    position:absolute;
    left:30%;
    top:0;
    width:2.5%;
    height:5%;
    background-image:url('https://png.icons8.com/metro/1600/no-audio.png');
    background-size:100%;
    transition:all 0.3s;
    cursor:pointer;
    &:hover{
      transform:scale(1.2);
    }
  }
  p{
    margin:0;
    padding:0;
    font-size:2.5em;
    margin-top:-0.5em;
    letter-spacing:0.3em;
    color:#FFFF00;
    transition:all 0.5s;
    transform:scale(1);
    -moz-text-shadow:6px 6px 2px #000;
    -webkit-text-shadow:6px 6px 2px #000;
    -ms-text-shadow:6px 6px 2px #000;
    text-shadow:6px 6px 2px #000;

  }
}
@media only screen and (max-width: 2400px){
  body{
    font-size:1em;
  }
}
@media only screen and (max-width: 2100px){
  body{
    font-size:0.8em;
  }
}
@media only screen and (max-width: 1900px){
  body{
    font-size:0.7em;
  }
}
@media only screen and (max-width: 1500px){
  body{
    font-size:0.55em;
  }
}
@media only screen and (max-width: 1100px){
  body{
    font-size:0.45em;
  }
}
@media only screen and (max-width: 800px){
  body{
    font-size:0.35em;
  }
}
